#pubgid, #packs{
    weight:100px;
    height:40px;
}
body{
   
 
}
.ucform{

    text-align:center;
    background-color: #00BFFF;
    padding:20px;
    box-shadow:20px 20px 9px grey;
}

#pubgid:hover{
    width:calc(50% + 0.2px)
}
#pubgid:focus{
    color:rgb(240, 124, 29);
    background-color:#CEF6CE ;
}

#packs:hover{
    width:calc(50% + 0.2px)
}
#packs:focus{
    color:rgb(240, 124, 29);
    background-color:#CEF6CE ;
}

.pubgevents , .events{
    width:45%;
    height:180px;
}